<main>
  <section class="py-5 text-center container">
    <div class="container">
      <div class="row">
          <!-- Left Column with Trips and Create Button -->
          <div class="col-lg-3 trips-container">
            <div class="scroll-container">
              <% @trips.each do |trip| %>
                <div class="trip-card">
                  <h5><%= trip.name %></h5>
                  <p><%= trip.status.humanize %></p>
                  <button class="btn btn-primary trip-button" data-toggle="modal" data-target="#myModal" data-attribute-id="<%= trip.id %>">Click me</button>
                  <%= link_to "Delete Trip", trip_path(trip, email: @current_user.email), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" }, class: "btn btn-danger delete-trip-button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <%= link_to "Create New Trip", new_trip_path, class: "btn btn-primary create-trip-button" %>
          </div>
        </div>
        <!-- Right Column with Map -->
        <div class="col-lg">
          <div class="map-container">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Title</h5>
        <button id="close-btn" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>This is the modal content.</p>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $(".trip-button").on("click", function() {
    var tripId = $(this).data("attribute-id");
    $.ajax({
      url: "/trips/" + tripId,
      type: "GET",
      dataType: "json",
      success: function(data) {

      console.log( data.destination_details["main"])
      var tableContent = "<table class='table'>" +
                          "<tr><th>City Name</th><td>" + data.city_name + "</td></tr>" +
                          "<tr><th>Starts At</th><td>" + data.starts_at + "</td></tr>" +
                          "<tr><th>Ends At</th><td>" + data.ends_at + "</td></tr>" +
                          "<tr><th> Weather Conditions: </th><td>" + data.destination_details["main"]["feels_like"] + "</td></tr>"
                          "</table>";

        $("#myModal .modal-title").text(data.name);
        $("#myModal .modal-body").html(tableContent);

        $("#myModal").modal("show");
      }
    });
  });

  $("#close-btn").on("click", function() {
    $("#myModal").modal("hide");
  });
});
</script>
